*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

main{
    padding: 0px 5px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

h1{
    font-size: 50px;
}

header > p{
    font-size: 20px;
}

form{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-field{
width: 40vw;
    height: 35px;
    border-radius: 50px;
        background: transparent;
    border: 1px solid white;
    font-size: 15px;
    color: white;
}

.header-button{
    width: 5vw;
    height: 35px;
    border-radius: 20px;
    background: orange;
    /* border: 1px solid white; */
    color: white;
    font-size: 15px;
}

.display-tasks{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;
        gap: 10px;
    margin-top: 20px;
}

.task{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
    height: 110px;
    padding: 5px;
}

.butt{
    width: 60px;
    height: 21px;
    background-color: orange;
    font-size: 15px;
    border: none;
    border-radius: 20px;
}

.buttons{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 10px;
}

/* .Open-task{
    display: none;
    width: 100%;
    height: 100%;
} */

.show-task{
    display: none;
    width: 60vw;
    height: 40vw;
    position: absolute;
    left: 20vw;
    top: 5vh;
    z-index: 100;
    background: black;
    border-radius: 15px;
    padding:10px 10px;
}


.open{
    display: flex;
    justify-content: center;
    align-items: center;
}   

.opac{
    opacity: 0.1;
}

.window-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 12%;
}

.window-head  h2{
    font-size: 40px;
}


.Inside-Open{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.task-text-container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.window-content{
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    background-color: grey;
    border: none;
    padding: 5px;

    overflow-y: scroll;
    scrollbar-width: none;
}

.display-time{
    display: flex;

}

.display-time-and-date{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.read-buttons{
    width: 100px;
    height: 40px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: orange;
    color: black;
}

.checked{
    background-color: red;
}
